///////////// implementação de estilos /////////////////////

.footer-container.color-scheme-light {
  background: #000;
}

// ajustes menu
.main-header {
  margin-bottom: 40px;
}

.main-header > .container {
  width: 100%;
  padding: 0 15px;
  // box-sizing: border-box;
}

.wrapp-header {
  min-height: 95px;

  @media (max-width: 990px) {
    min-height: initial;
  }
}

.widgetarea-head {
  width: 40%;
  font-family: Roboto;
}

.fa.fa-phone {
  display: inline-block;
  width: 18px;
  height: 14px;
  border: 1px solid red;
}

.fa.fa-search {
  border: 1px solid red !important;
}

.site-logo {
  width: 20%;
  min-width: 280px;

  img {
    @media (max-width: 990px) {
      max-height: 60px;
    }
  }
}

.right-column {
  width: 40%;
}

.right-column .wishlist-info-widget,
.right-column .shopping-cart {
  display: none;
}

.main-nav .menu > li > a {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
}

.main-nav .menu > li.current-menu-item > a {
  color: #b57b00;
}

.main-nav .menu > li > a:focus,
.main-nav .menu > li > a:hover {
  color: #b57b00;
}

.padding-top {
  padding-top: 8px;
}

.padding-left-right {
  padding-left: 15px;
  padding-right: 15px;
}

.footer-display-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.footer-itens-menu {
  text-decoration: none;
}

.footer-container.color-scheme-light
  .main-footer
  + .copyrights-wrapper
  .min-footer {
  border-top: none !important;
}

.copyrights-wrapper.copyrights-centered {
  background: #252525;
}
