.footer-container.color-scheme-light {
  background: #000;
}

.padding-top {
  padding-top: 8px;
}

.padding-left-right {
  padding-left: 15px;
  padding-right: 15px;
}

.footer-display-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.footer-itens-menu {
  text-decoration: none;
}

.footer-container.color-scheme-light .main-footer + .copyrights-wrapper .min-footer {
  border-top: none !important;
}

.copyrights-wrapper.copyrights-centered {
  background: #252525;
}

.bold {
  font-weight: 800;
}

#section__infosProduto p.small {
  font-size: 14px !important;
}
